name: Tourism amlops Pipeline

on:
  push:
    branches:
      - main

jobs:

  register-dataset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: pip install pandas huggingface-hub

      - name: Run Data Registration
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          REPO_ID: bhumitps/amlops
        run: python tourism_project/model_building/data_register.py


  data-prep:
    needs: register-dataset
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: pip install pandas scikit-learn huggingface-hub

      - name: Run Data Preparation
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          REPO_ID: bhumitps/amlops
        run: python tourism_project/model_building/data_prep.py


  model-training:
    needs: data-prep
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: pip install -r tourism_project/deployment/requirements.txt

      - name: Model Training and Registration
        env:
          MLFLOW_TRACKING_URI: ./mlruns
          MLFLOW_TRACKING_TOKEN: ${{ secrets.HF_TOKEN }}
          MLFLOW_EXPERIMENT_NAME: bhumitps/amlops
        run: python tourism_project/model_building/train.py

      - name: Transition Model to Production
        env:
          MLFLOW_TRACKING_URI: ./mlruns
          MLFLOW_TRACKING_TOKEN: ${{ secrets.HF_TOKEN }}
          MODEL_NAME: Tourism_Purchase_Predictor
        run: |
          pip install mlflow
          python tourism_project/model_building/transition_to_prod.py


  model-deployment:
    needs: model-training
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"

      - name: Install Deployment Dependencies
        run: pip install huggingface-hub python-dotenv

      - name: Deploy to Hugging Face Space (Docker Space)
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: python tourism_project/deployment/hosting.py
