name: Tourism MLOps Pipeline

on:
  push:
    branches:
      - main

jobs:

  register-dataset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: pip install -r tourism_project/deployment/requirements.txt
      - name: Run Data Registration
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: python tourism_project/model_building/data_register.py

  data-prep:
    needs: register-dataset
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: pip install -r tourism_project/deployment/requirements.txt
      - name: Run Data Preparation
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: python tourism_project/model_building/data_prep.py

  model-training:
    needs: data-prep
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: pip install -r tourism_project/deployment/requirements.txt
      - name: Start MLflow Server
        run: |
          nohup mlflow ui --host 0.0.0.0 --port 5000 & 
          sleep 5
      - name: Model Building
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: python tourism_project/model_building/train.py

      - name: Transition Model to Production
        run: |
          pip install mlflow
          python - << 'PYCODE'
          import mlflow

          client = mlflow.tracking.MlflowClient()
          MODEL_NAME = "Tourism_Purchase_Predictor"

          # Get latest version (usually the one just trained in the previous step)
          latest_version = client.get_latest_versions(MODEL_NAME, stages=["None"])[0].version

          # Transition to Production
          client.transition_model_version_stage(
              name=MODEL_NAME,
              version=latest_version,
              stage="Production",
              archive_existing_versions=True,  # Archive any existing Production models
          )

          print(f"Model {MODEL_NAME} version {latest_version} transitioned to Production.")
          PYCODE

  model-deployment:
    needs: model-training
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in to Hugging Face Container Registry
        uses: docker/login-action@v1
        with:
          registry: registry.hf.space
          username: bhumitps
          password: ${{ secrets.HF_TOKEN }}

      - name: Build and Push Docker image
        run: |
          IMAGE_NAME=registry.hf.space/bhumitps/mlops:latest
          cd tourism_project/deployment
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME
